{% extends "layout.html" %}
{% block body %}
    <style>
        .num-confirm {
            background-color: green;
        }
        .num-not-correct {
            background-color: yellow;
        }
        .num-not-confirm {
            background-color: red;
        }
    </style>
    <h2>Пользователи</h2>
    <table border="1" cellspacing="10" cellpadding="5">
        <tr>
            <th align="left">id</th>
            <th align="left">tg nickname</th>
            <th align="left">score</th>
            <th align="left">sub tg cyber</th>
            <th align="left">fonbet number</th>
            <th align="left">fonbet number confirm</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                {% if user.tag == None %}
                    <td>Тэг скрыт</td>
                {% else %}
                    <td>{{ user.tag }}</td>
                {% endif %}
                <td>{{ user.score }}</td>
                {% if user.sub_cyber == 0 %}
                    <td>Не подписан</td>
                {% else %}
                    <td>Подписан</td>
                {% endif %}
                {% if user.fonbet_number == None %}
                    <td>Номер не указан</td>
                {% else %}
                    <td>{{ user.fonbet_number }}</td>
                {% endif %}
                {% if user.login_confirm == 1 and user.fonbet_number != None %}
                    <td class="num-confirm">Номер подтверждён</td>
                {% elif user.login_confirm == 0 and user.fonbet_number != None %}
                    <td class="num-not-confirm">Номер не подтверждён</td>
                {% else %}
                    <td>Номер не указан</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}